<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" 
        xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" 
                              id="WebApp_ID" version="6.0">
  <display-name>ServletLifeCycle</display-name>
    <welcome-file-list>
      <welcome-file>lc</welcome-file>
    </welcome-file-list>
     <servlet>
      <servlet-name>lc</servlet-name>
      <servlet-class>com.nt.servelt.LifeCycleServlet</servlet-class> 
      <load-on-startup>1</load-on-startup>
     </servlet>
     <servlet-mapping>
      <servlet-name>lc</servlet-name>
      <url-pattern>/lc</url-pattern>
     </servlet-mapping>
</web-app>