<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>EmployeeDBServeltUsingServeltContext</display-name>
  <welcome-file-list>
    <welcome-file>form1.html</welcome-file>
  </welcome-file-list>
  
  <context-param>
    <param-name>driverClass</param-name>
    <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
  
  <context-param>
    <param-name>username</param-name>
    <param-value>system</param-value>
  </context-param>
  
  <context-param>
    <param-name>password</param-name>
    <param-value>7825</param-value>
  </context-param>
  
  
    
    <servlet>
    <servlet-name>dbu</servlet-name>
    <servlet-class>com.nt.servlet.EmployeeReg</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>dbu</servlet-name>
       <url-pattern>/empurl</url-pattern>
    </servlet-mapping> 
   <servlet>
     <servlet-name>err</servlet-name>
     <servlet-class>com.nt.servlet.ErrorServlet</servlet-class>
   </servlet>
   <servlet-mapping>
    <servlet-name>err</servlet-name>
    <url-pattern>/errurl</url-pattern>
   </servlet-mapping>
   
   <servlet>
     <servlet-name>hed</servlet-name>
     <servlet-class>com.nt.servlet.HeaderServlet</servlet-class>
   </servlet>
   <servlet-mapping>
     <servlet-name>hed</servlet-name>
     <url-pattern>/head</url-pattern>
   </servlet-mapping>
     
    
</web-app>