<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
   <servlet>
     <servlet-name>excel</servlet-name>
     <servlet-class>com.nt.servlet.ExcelServlet</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>excel</servlet-name>
       <url-pattern>/excel</url-pattern>
   </servlet-mapping>
   
    <servlet>
     <servlet-name>html</servlet-name>
     <servlet-class>com.nt.servlet.HtmlServlet</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>html</servlet-name>
       <url-pattern>/html</url-pattern>
   </servlet-mapping>
   
    <servlet>
     <servlet-name>word</servlet-name>
     <servlet-class>com.nt.servlet.WordServlet</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>word</servlet-name>
       <url-pattern>/word</url-pattern>
   </servlet-mapping>
   
    <servlet>
     <servlet-name>xml</servlet-name>
     <servlet-class>com.nt.servlet.XmlServlet</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>xml</servlet-name>
       <url-pattern>/xml</url-pattern>
   </servlet-mapping>
</web-app>