<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ServletConfigurationApp</display-name>
  
  <welcome-file-list>
    <welcome-file>dburl</welcome-file>
  </welcome-file-list>
  
    <servlet>
      <servlet-name>cg</servlet-name>
      <servlet-class>com.nt.servelt.DBTestServlet</servlet-class>
      
      <init-param>
        <param-name>diverClass</param-name>
        <param-value>oracle.jdbc.driver.OracleDriver</param-value>
      </init-param>
      
      <init-param>
        <param-name>url</param-name>
        <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
      </init-param>
      
      <init-param>
       <param-name>username</param-name>
       <param-value>system</param-value>
      </init-param>
      
      <init-param>
         <param-name>password</param-name>
        <param-value>7825</param-value>
      </init-param>  
     
     <!-- <load-on-startup>1</load-on-startup> -->
        </servlet>
   
   <servlet-mapping>
     <servlet-name>cg</servlet-name>
     <url-pattern>/dburl</url-pattern>
   </servlet-mapping>
   
</web-app>